@model JABugTracker.Models.Ticket
@using JABugTracker.Services;
@using JABugTracker.Services.Interfaces;
@using Microsoft.AspNetCore.Identity;
@using JABugTracker.Models.Enums;

@inject IBTFileService _fileService;
@inject IBTTicketHistoryService _historyService;
@inject UserManager<BTUser> _userManager;

@{
    ViewData["Title"] = "Details";
}

<h1>Ticket Details</h1>

<div class="container-fluid">
    <div class="row gy-2">
        <div class="col-md-12">
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Title</h5>
                            <p class="card-text">@Model.Description</p>
@*                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-info" role="progressbar" style="width: @Model.PercentCompleted%;" aria-valuenow="@Model.PercentCompleted" aria-valuemin="0" aria-valuemax="100">
                                    <span class="visually-hidden">@Model.PercentCompleted%</span>
                                </div>
                            </div>*@
                            <p class="card-text"><small class="text-muted">Project: @Model.Title</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>Date Entered:</strong> <span>@Model.Created.ToString("MMMM dd, yyyy")</span></li>   
                                
                                <!--TODO: TicketType Service?-->
                                <li><strong>Priority:</strong> <span>@Enum.GetName(typeof(BTTicketPriorities), Model.TicketPriorityId)</span></li>
                                <!--TODO: TicketPriority Service?-->
                                <li><strong>Type:</strong> <span>@Enum.GetName(typeof(BTTicketTypes), Model.TicketTypeId)</span></li>
                                <li><strong>Status:</strong> <span>@Enum.GetName(typeof(BTTicketStatuses), Model.TicketStatusId)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TICKET COMMENTS-->
        <div class="col-md-8">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h5 class="card-title">Comments</h5>
                </div>
                <div class="card-body" style="height:600px;overflow-y:auto;">
                    <hr>
                    <h6>Comments</h6>
                    <form method="post" action="@Url.Action("AddTicketComment","Tickets", new { ticketId = Model.Id })">
                        <div class="mb-3">
                            <label for="commentInput" class="form-label">Add Comment</label>
                            <textarea class="form-control" id="commentInput" name="Comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <hr>
                    @if (Model.Comments.Any())
                    {
                        foreach (var comment in Model.Comments)
                        {
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-8">
                                            <strong>@comment.User?.FullName</strong>
                                        </div>
                                        <div class="col-4 text-end">
                                            <small class="text-muted">@comment.Created.ToString("MMMM dd, yyyy h:mm tt")</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>@comment.Comment</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No comments yet.</p>
                    }
                </div>
            </div>
        </div>
        <!--TICKET HISTORY-->
        <div class="col-md-4">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h5 class="card-title">Ticket History</h5>
                </div>
                <div class="card-body" style="height:600px;overflow-y:auto;">
                    <!-- Add your ticket history details here -->
                    @foreach (var history in Model.History)
                    {
                        <span>------</span>
                        <div>
                            <p><strong>Changed by:</strong> @history.User?.FullName</p>
                            <p><strong>Date:</strong> @history.Created</p>
                            <p><strong>Property:</strong> @history.PropertyName</p>
                            <p><strong>Old value:</strong> @history.OldValue</p>
                            <p><strong>New value:</strong> @history.NewValue</p>
                        </div>
                        <span>------</span>
                    }
                </div>
            </div>
        </div>
        <!--TICKET ATTACHMENTS-->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ticket Attachments</h4>
                </div>
                <div class="card-body">
                    <form asp-action="AddTicketAttachment" asp-controller="Tickets" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" name="TicketId">
                        <div class="media-body ml-3">
                            <label>
                                Description
                                <input asp-for="@Model.Attachments.FirstOrDefault()!.Description" type="text" placeholder="File Description" class="form-control" />
                            </label>
                            <label class="btn btn-outline-primary btn-sm">
                                <input asp-for="@Model.Attachments.FirstOrDefault()!.FormFile" type="file" class="form-control-file text-primary" />
                            </label>
                            <button type="submit" class="btn btn-outline-primary btn-sm md-btn-flat">Submit</button>
                        </div>
                    </form>
                    <hr>
                    <div class="table-responsive">
                        <div class="row">
                            @foreach (TicketAttachment item in Model.Attachments)
                            {
                                <div class="col col-sm-2">
                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                        <div class="icon">
                                            <img src="@_fileService.GetFileIcon(item.FileName!)" style="height:50px;width:50px" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="@item.FileName" />
                                        </div>
                                    </a>
                                    <div style="font-size:x-small">
                                        <div class="file-name">
                                            <strong>@item.Description</strong>
                                        </div>
                                        <small>Size: @_fileService.FormatFileSize(item.FileData!.Length) </small>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Admin/PM Actions-->
        <div class="col-md-4">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h5 class="card-title">Actions</h5>
                </div>
                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                {
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Edit", "Tickets", new { id = Model.Id })" class="btn btn-primary">Edit</a></li>
                            <li><a href="@Url.Action("Delete", "Tickets", new { id = Model.Id })" class="btn btn-danger">Delete</a></li>
                        </ul>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
