@model JABugTracker.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<h2>Projects</h2>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Project Manager</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Open Tickets</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.</td>
                <td>@project.StartDate</td>
                <td>@project.EndDate</td>
                <td>@project.</td>
                <td>@project.Members.Count</td>
            </tr>
        }
    </tbody>
</table>

<h2>Members</h2>
<ul class="list">
    @foreach (var member in Model.Members)
    {
        <li>@member.: @member.FullName</li>
    }
</ul>

@if (User.IsInRole("Admin"))
{
    <h2>Pending Invites</h2>
    <ul>
        @foreach (var invite in Model.Invites)
        {
            <li>@invite.InviteeEmail : @invite.InviteeFirstName @invite.InviteeLastName</li>
        }
    </ul>
}
