@model IEnumerable<Project>
@using JABugTracker.Services.Interfaces

@inject IProjectService _ProjectService

<h1>Archived Projects</h1>

@if (!Model.Any())
{
        <p>There are no archived projects.</p>
}
else
{
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project Manager</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Priority</th>
                    <th>Ticket Count</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var project in Model)
            {
                        <tr>
                            <td>@project.Name</td>
                    <td>@((await _ProjectService.GetProjectManagerAsync(project.Id))?.FullName ?? "Unassigned")</td>
                            <td>@project.StartDate.ToShortDateString()</td>
                            <td>@project.EndDate.ToShortDateString()</td>
                            <td>@project.ProjectPriority.Name</td>
                            <td>@project.Tickets.Count()</td>
                        </tr>
            }
            </tbody>
        </table>
}